<form *ngIf="catigories" class="container"
      [formGroup]="resForm"
      (change)="changeSelect()">
    <label for="catigories">Catigoies</label>
    <select formControlName="catigories" id="catigories">
        <option selected="selected">all</option>
        <option *ngFor="let cat of catigories">
            {{cat}}
        </option>
    </select>

    <input type="text" [(ngModel)]="searchBy" formControlName="searchBy">
</form>


<div class="newsCard" *ngFor="let co of content | newsNotNull: selectedCat | searchBy: searchBy">
    <h1 class="feed-resource" (click)="openResource(co.resource,false)">{{co.resource}}</h1>
    <p class="feed-description"(click)="openResource(co.resource,false)">{{co.news.feed.description}}</p>


    <div *ngFor="let item of co.news.items | byCatigories: selectedCat | bySearch: searchBy">

        <h4 class="news-title">{{item.title}}</h4>
        <h4 class="news-link" (click)="openResource(item.link, true)">{{item.link}}</h4>
        <p class="news-date">{{item.pubDate}}</p>
        <p class="news-content">{{item.content}}</p>
        <div *ngFor="let cat of item.categories">
            <h4>{{cat}}</h4>
        </div>

        <br>
    </div>

    <br>
</div>