<form class="selectContainer header" [formGroup]="resForm">
    <label for="resources">Resources</label>
    <select formControlName="resources" id="resources" (change)="navigateTo($event.target.value)">
        <option selected="selected">select resource</option>
        <option>all</option>
        <option *ngFor="let res of resources">
            {{res}}
        </option>
    </select>

    <button class="btn btn-danger" (click)="updateResources()">update news</button>
</form>


<router-outlet></router-outlet>