<div class="container">
    <p (click)="navigateTo('all')">all</p>
    <div *ngFor="let res of resources">
        <p (click)="navigateTo(res)">{{res}}</p>
    </div>
</div>

<form class="container" [formGroup]="resForm" >
    <label for="catigories">Catigoies</label>
    <select formControlName="catigories" id="catigories">
        <option selected="selected">all</option>
        <option *ngFor="let cat of catigories" >
            {{cat}}
        </option>
    </select>
</form>


<router-outlet></router-outlet>