@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {

  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.selectContainer {
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 17%;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: #666666;
  color: #fff;
  padding: 0.1rem 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-left: 18%;


  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }
}


label {
  font-family: 'Roboto', sans-serif;
  margin: 18%;
  font-size: 35px;
  color: #666666;
}

input,
select,
textarea {
  display: block;
  width: 63%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-left: 18%

}

hr {
  margin: .5rem 0;
}


#tm:hover {
  background: antiquewhite;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #666666;

}

.header {
  background: #ffe6cc;
}
